<!DOCTYPE html>
<html>
<head>



    <title>vue Demo</title>
</head>
<body>
    <div id = "app">
        {{ message }}

    </div>

    <div id = "app-2">
    <!-- 这里的 v-bind 属性称为指令 指令带有前缀v- 以表示他们是Vue提供的特殊属性 -->
        <span v-bind:title="message">
            鼠标悬停几秒钟查看此处动态绑定的提示信息
        </span>
    </div>

    <div id="app-3">
        <p v-if="seen">现在你看到我了</p>
    </div>

    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}

            </li>
        </ol>
    </div>

    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">点击逆转消息</button>
    </div>

    <div id="app-6">
        <p>{{ message }}</p>
        <input v-model="message">
    </div>

    <div id="app-7">
        <ol>
            <todo-item
            v-for="item in groceryList"
            v-bind:todo="item"
            v-bind:key="item.id">
            </todo-item>

        </ol>
    </div>





    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/my.js"></script>
</body>




</html>